/* Reset css */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

:root {
    --header-height: 46px;

}

/* common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.row {
    margin-left: -8px !important;
    margin-right: -8px !important;
}

.row::after {
    content: '' !important;
    display: block !important;
    clear: both !important;
}

.col-half {
    float: left !important;
    width: calc(100%/2) !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.col-third {
    float: left !important;
    width: calc(100%/3) !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.col-full {
    float: left !important;
    width: calc(100%/1) !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

#main {}

#header {
    height: var(--header-height);
    background-color: rgb(0, 0, 0);
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav>li>a {
    text-transform: uppercase;
    color: #fff;
}

#nav li a {
    text-decoration: none;

    line-height: var(--header-height);
    display: block;
    padding-left: 24px;
    padding-right: 24px;
}

#nav li:hover>a,
#subnav li:hover>a {
    background-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
}

#nav #subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#subnav li {
    min-width: 160px;
}

#subnav li a {
    line-height: 38px;
    display: block;
    color: rgb(0, 0, 0);
}

#nav li:hover #subnav {
    display: block;
}

#nav li .down-icon {
    font-size: 15px;
}

#header #menu-button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}


#header #menu-button,
#header #search-button {
    float: right;
    line-height: var(--header-height);
    padding: 0 21px;
}

#header #search-button:hover {
    background-color: red;
    cursor: pointer;
}

#header #menu-button:hover {
    background-color: #ccc;
    cursor: pointer;

}

#header #menu-button:hover i {
    color: #000;
}

#menu-button .menu-icon,
#search-button .search-icon {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#slider {
    margin-top: var(--header-height);
    padding-top: 50%;
    position: relative;
    background: url(/assets/image/slider1.jpg) top center / cover no-repeat;

}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
}

#slider .text-content .text-head {
    font-size: 24px;
    font-weight: 500;
    padding: 25px;
}

#slider .text-content .text-description {
    font-weight: 500;
}

#content {}

#content .content-section {

    width: 800px;
    max-width: 100%;
    margin: auto;
    padding: 64px 0 112px;
    padding-right: 16px;
    padding-left: 16px;
}

#content .content-section .section-header {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
    padding: 10px 0;
}

#content .content-section .section-slogan {
    opacity: 0.6;
    font-style: italic;
    text-align: center;
    padding: 15px 0;
}

#content .about-text {
    line-height: 1.4;
    text-align: justify;
    padding: 15px 0;
}

#content .member-list div {
    text-align: center;
}

#content .member-list .member-name {
    margin: 15px 0;
}

#content .member-list img {
    margin-bottom: 16px;
    width: 154px;
    border-radius: 4px;
}

/* tour section  */
.tour-section {
    background-color: #000;
    color: #939393;
}


.tour-section .places-list {
    margin-top: 40px;
    background-color: #fff;
    list-style: none;
}

.tour-section .place-item {
    padding: 11px;
    border: 1px solid #ddd;

}

.tour-section .time {
    color: #757575;
    display: inline;
}

.tour-section .sold-out {
    background-color: #f44336;
    padding: 4px;
    margin-left: 12px;
}

.tour-section .quantity {
    background-color: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    float: right;
    line-height: 24px;
    text-align: center;
    margin-top: -4px;
    margin-right: 20px;
}

.citys {
    margin-top: 16px;

}


.city-img {
    width: 100%;
    display: block;
}

.city-img:hover {
    opacity: 0.6;
}

.city-body {
    padding: 0 16px;
    background-color: #fff;
}

.city-title {
    font-weight: 600;
    color: #000;
    padding: 16px 0 8px;
}

.city-time {
    color: #939393;
    padding: 8px 0;
}

.city-description {
    color: #939393;
    padding: 8px 0 8px;
}

.btn {
    color: #939393;
    background-color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 8px 13px;
    margin-bottom: 20px;
    margin-top: 8px;
    text-align: center;
    color: #fff;
}

.btn:hover {
    background-color: #939393;
    border: 2px solid #939393;
    color: rgb(0, 0, 0);
}

/* Modal */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    animation: fadeIn ease 0.5s;
    width: 900px;
    max-width: calc(100% - 32px);
    background-color: #fff;
    position: relative;
}

.modal-header {
    background-color: #009688;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 30px;
    letter-spacing: 5px;
}

.modal-bag-icon {
    margin-right: 10px;
}

.modal-close {
    position: absolute;
    padding: 16px;
    top: 0;
    right: 0;
    color: #fff;
    opacity: 0.8;
    font-weight: 600;
}

.modal-close:hover {
    opacity: 1;
    cursor: pointer;
}

.modal-content {
    padding: 20px 16px 16px;
}

.modal-label {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

.modal-label i {
    margin-right: 4px;
}

.modal-input {
    width: 100%;
    padding: 12px;
    border: solid 1px rgb(204, 204, 204);
    margin-bottom: 20px;
}

.modal-button {
    width: 100%;
    opacity: 0.8;
    background-color: #009688;
    color: #fff;
    text-transform: uppercase;
    padding: 16px;
    border: none;
}

.modal-button:hover {
    opacity: 1;
    cursor: pointer;
}

.modal-footer {
    margin: 16px 0 8px;
    text-align: right;
}

.modal-footer a {
    color: #2196f3;
}

.contact-section {
    margin-top: 16px;
}

.contact-detail p {
    font-size: 18px;
}

.contact-detail i {
    width: 30px;
    display: inline-block;
}

.contact-form input {
    border: 1px solid #ccc;
    padding: 11px 10px;
}

.contact-form .input-message {
    margin-top: 8px
}

.contact-form input {
    width: 100%;
}

.contact-form form div:last-child {
    margin-top: 10px;
}

.contact-form button {
    padding: 9px 15px;
    color: #fff;
    background-color: #000;
    float: right;
}

.contact-form button:hover {
    color: #000;
    background-color: #ccc;
    border: solid 2px #ccc;
    float: right;
    cursor: pointer;
}

/* footer section  */
.map img {
    width: 100%;
}

#footer {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    padding: 64px 16px;
}

#footer a {
    color: rgba(0, 0, 0, 0.6)
}

#footer a:hover {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#footer .social-media a {
    text-decoration: none;
}

#footer .social-media {
    font-size: 24px;
    margin-bottom: 24px;
}